* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #123b2f;
  color: #f3f2dc;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.logo {
  letter-spacing: 6px;
  font-size: 32px;
  font-weight: 600;
}

.menu {
  display: flex;
  gap: 55px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #f1f1f1;
  font-style: italic;
}



/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px;
}

/* TEXTO */

.hero-text {
  max-width: 50%;
}

.small-title {
  letter-spacing: 5px;
  font-size: 24px;
  color: #b9c9b2;
  margin-bottom: 10px;
}

.main-title {
  flex-wrap: nowrap;
  font-family: 'Playfair Display', serif;
  font-size: 90px;
  margin-bottom: 10px;
}

.main-title span {
  display: block;
}

.subtitle {
  color: #9fb5a7;
  font-size: 16px;
  margin-bottom: 40px;
}

/* MINI BURGERS */

.mini-burgers {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.mini-burgers img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  object-fit: cover;
}

/* IMAGEN PRINCIPAL */

.hero-image {
  max-width: 1000px;
}

.hero-image img {
  width: 90%;
  max-width: auto;
  filter: drop-shadow(0px 30px 20px rgba(0,0,0,0.5));
}
